@font-face {
    font-family: VHS;
    src: url(C:/University/WEB/code1/lab1_code/public/fonts/vcrosdmonorus_vhsicons.ttf) format("truetype");
    font-display: block;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.89);
    visibility: hidden;
}


@keyframes borderAnimation {
    0% {
        box-shadow: 0 0 20px rgba(170, 255, 233, 0.8);
    }
    20% {
        box-shadow: 0 0 30px rgba(158, 151, 255, 0.8);
    }
    40% {
        box-shadow: 0 0 20px rgba(248, 101, 219, 0.8);
    }
    60% {
        box-shadow: 0 0 20px rgba(133, 101, 248, 0.8);
    }
    80% {
        box-shadow: 0 0 20px rgba(101, 152, 248, 0.8);
    }
    100% {
        box-shadow: 0 0 20px rgba(101, 221, 248, 0.8);
    }
}

.bg {
    position: fixed;
    background-size: cover;
    background-position: center;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    z-index: -1;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

h2, h3, p {
    font-family: VHS;
    color: white;
    text-align: center;
}

header {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: VHS;
    color: white;
    text-align: left;
    margin: 0px;
    font-size: x-large;
}

.vhs span {
    letter-spacing: 2px;
}

.vhs {
    position: relative;
    padding-left: 10px;
    color: #fff;
    text-shadow: 0.06rem 0 0.06rem #9100f2, -0.125rem 0 0.06rem #00eaf2;
    animation: textflicker 0.1s infinite alternate;
    white-space: nowrap;
}

@keyframes textflicker {
    from {
        text-shadow: 1px 0 0 #ea36af, -2px 0 0 #00fde7;
    }
    to {
        text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #0cffff;
    }
}


nav ul {
    justify-content: left;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    font-family: VHS;
    margin-left: 2px;
    margin-right: 2px;
    font-size: large;
}

nav p {
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
}
nav ul li a {
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 5px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

#active {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #000000;
    animation: gradient 5s ease infinite;
    min-width: 200px;
    z-index: 1;
    transition: background-color 0.7s ease;
}

.dropdown-content a {
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.7s ease;
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-weight: 700;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.info {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: VHS;
    color: white;
    font-weight: bold;
}

.info p {
    margin: 0 auto;
    word-wrap: break-word;
}
